 <%= @user.name %> <br/>  <br/>

 <div class="user_info">
   <strong>Name</strong> <%= @user.name %><br />
   <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
   <strong>posts</strong> <%= @user.posts.count %>
 </div>

 <% unless @user.posts.empty? %>
       <%= render @posts %>
       <%= will_paginate @posts %>
 <% end %> <br/>

   <% if current_user?(@user) %>
      <h3 class="post">What's up?</h3>
      <%= render 'shared/post_form' %>
   <% end %>


